@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.register-container {
  width: 100%;
  height: 100vh;
  background-image: url("../images/register_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  width: 450px;
  height: fit-content;
  background-color: rgba(24, 26, 28, 0.84);
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-img {
  width: 130px;
  object-fit: contain;
}

.title-form {
  width: 100%;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 7px;
}

.input-container label {
  cursor: pointer;
}

input {
  border: 1px solid rgba(231, 227, 252, 0.23);
  width: 100%;
  border-radius: 24px;
  padding: 15px 20px;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
}

input::placeholder {
  color: rgba(193, 194, 196, 1);
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px;
}

.password-wrapper i {
  color: rgba(157, 158, 161, 1);
}

.password-icon-container {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: rgba(193, 194, 196, 1);
  font-size: 16px;
}

.toggle-password {
  position: relative;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-password .icon-eye-slash {
  display: none;
  pointer-events: none;
}

.password-icon-container #toggle:checked ~ .password-label .icon-eye {
  display: none;
  pointer-events: none;
}

.password-icon-container #toggle:checked ~ .password-label .icon-eye-slash {
  display: flex;
  pointer-events: auto;
}

.toggle-password .icon-eye-slash {
  display: none;
  pointer-events: none;
}

.password-icon-container #toggle:checked ~ .password-label .icon-eye {
  display: none;
  pointer-events: none;
}

.password-icon-container #toggle:checked ~ .password-label .icon-eye-slash {
  display: flex;
  pointer-events: auto;
}

.password-icon-container #confirm-toggle:checked ~ .password-label .icon-eye {
  display: none;
  pointer-events: none;
}

.password-icon-container
  #confirm-toggle:checked
  ~ .password-label
  .icon-eye-slash {
  display: flex;
  pointer-events: auto;
}

.help-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.help-container p {
  color: rgba(193, 194, 196, 1);
  font-style: normal;
}

.help-container a {
  color: white;
  text-decoration: none;
}

.button-container {
  width: 100%;
  height: 150px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-container button {
  border: 1px solid rgba(231, 227, 252, 0.23);
  width: 100%;
  border-radius: 24px;
  padding: 15px 20px;
  background-color: transparent;
  box-sizing: border-box;
  color: white;
}

.button-container p {
  font-size: small;
  color: rgba(193, 194, 196, 1);
}

#daftar-button {
  background-color: rgba(61, 65, 66, 1);
  cursor: pointer;
}

#daftar-google-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

.error-message {
  color: #ff4d4f;
  font-size: 12px;
  margin-top: -5px;
  margin-bottom: 5px;
}

/* Responsive to Phone */
@media (max-width: 480px) {
  .register-container {
    padding: 27px;
  }

  .register-form {
    padding: 24px;
    gap: 10px;
  }

  .help-container {
    font-size: 13px;
  }

  .register-container .title-form h1 {
    font-size: 20px;
  }

  .register-container button {
    padding: 15px;
  }

  .input-container label {
    font-size: 13px;
  }
}
